USE [master]
GO
/****** Object:  Database [Gestor_de_Guardias]    Script Date: 24/05/2025 02:41:31 a. m. ******/
CREATE DATABASE [Gestor_de_Guardias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestor_de_Guardias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gestor_de_Guardias.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestor_de_Guardias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gestor_de_Guardias_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestor_de_Guardias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestor_de_Guardias]
GO
/****** Object:  User [guardiasadm]    Script Date: 24/05/2025 02:41:31 a. m. ******/
CREATE USER [guardiasadm] FOR LOGIN [guardiasadm] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [guardiasadm]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[horario] (
    [inicio] [time](0) NOT NULL,
    [fin] [time](0) NOT NULL,
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    CONSTRAINT [PK_horario_1] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [UQ_horario] UNIQUE ([inicio], [fin])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[periodo_no_planificable] (
    [inicio] [date] NOT NULL,
    [fin] [date] NOT NULL,
    CONSTRAINT [PK_periodo_no_planificable_1] PRIMARY KEY CLUSTERED ([inicio], [fin])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[rol] (
    [nombre] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED ([nombre])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[usuario] (
    [nombre] [nvarchar](50) NOT NULL,
    [contrasenna] [nvarchar](50) NOT NULL,
    [rol] [nvarchar](50) NOT NULL,
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    CONSTRAINT [PK_usuario_1] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [FK_usuario_rol] FOREIGN KEY ([rol]) REFERENCES [dbo].[rol] ([nombre]),
    CONSTRAINT [UQ_usuario] UNIQUE ([nombre])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[tipo_persona] (
    [nombre] [nvarchar](20) NOT NULL,
    CONSTRAINT [PK_tipo_persona] PRIMARY KEY CLUSTERED ([nombre])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[persona] (
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    [nombre] [nvarchar](50) NOT NULL,
    [apellido] [nvarchar](50) NOT NULL,
    [sexo] [char](1) NOT NULL,
    [carnet] [nvarchar](11) NOT NULL,
    [ultima_guardia_hecha] [date] NULL DEFAULT NULL,
    [guardias_de_recuperacion] [int] NOT NULL DEFAULT (0),
    [baja] [date] NULL DEFAULT NULL,
    [reincorporacion] [date] NULL DEFAULT NULL,
    [tipo] [nvarchar](20) NOT NULL,
    [activo] [bit] NOT NULL DEFAULT (1),
    CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [FK_persona_tipo_persona] FOREIGN KEY ([tipo]) REFERENCES [dbo].[tipo_persona] ([nombre])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[esquema] (
    [dia_semana] [tinyint] NOT NULL,
    [dia_es_receso] [bit] NOT NULL,
    [tipo_persona] [nvarchar](20) NULL,
    [sexo] [nchar](1) NULL,
    [cant_personas] [tinyint] NOT NULL DEFAULT (1),
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    CONSTRAINT [PK_esquema_1] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [UQ_esquema] UNIQUE ([dia_semana], [dia_es_receso])
    CONSTRAINT [FK_esquema_tipo_persona] FOREIGN KEY ([tipo_persona]) REFERENCES [dbo].[tipo_persona] ([nombre])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[configuracion] (
    [esquema] [bigint] NOT NULL,
    [horario] [bigint] NOT NULL,
    [actual] [bit] NOT NULL DEFAULT (1),
    CONSTRAINT [PK_configuracion_1] PRIMARY KEY CLUSTERED ([esquema], [horario]),
    CONSTRAINT [FK_configuracion_esquema1] FOREIGN KEY ([esquema]) REFERENCES [dbo].[esquema] ([id]),
    CONSTRAINT [FK_configuracion_horario1] FOREIGN KEY ([horario]) REFERENCES [dbo].[horario] ([id])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[turno_de_guardia] (
    [persona_asignada] [bigint] NOT NULL,
    [hecho] [tinyint] NULL,
    [fecha] [date] NOT NULL,
    [horario] [bigint] NOT NULL,
    CONSTRAINT [PK_turno_de_guardia] PRIMARY KEY CLUSTERED ([persona_asignada], [fecha], [horario]),
    CONSTRAINT [FK_turno_de_guardia_horario1] FOREIGN KEY ([horario]) REFERENCES [dbo].[horario] ([id]),
    CONSTRAINT [FK_turno_de_guardia_persona] FOREIGN KEY ([persona_asignada]) REFERENCES [dbo].[persona] ([id])
) ON [PRIMARY];
GO
