USE [Gestor_de_Guardias]
GO
/****** Object:  StoredProcedure [dbo].[sp_count_periodo_no_planificable]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_count_periodo_no_planificable]
AS
BEGIN
SELECT COUNT(*) FROM periodo_no_planificable
END
GO
/****** Object:  StoredProcedure [dbo].[sp_count_persona_by_tipo]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_count_persona_by_tipo]
@tipo nvarchar(20)
AS
BEGIN
SELECT COUNT(*) AS total
FROM persona
WHERE tipo = @tipo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_create_configuracion]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_configuracion]
    @diaSemana INT,
    @diaEsReceso BIT,
    @horario BIGINT,
    @tipoPersona VARCHAR(50),
    @sexo CHAR(1),
    @cantPersonas INT
AS
BEGIN
    INSERT INTO configuracion (dia_semana, dia_es_receso, horario, tipo_persona, sexo, cant_personas)
    VALUES (@diaSemana, @diaEsReceso, @horario, @tipoPersona, @sexo, @cantPersonas); 
    END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_periodo_no_planificable]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_periodo_no_planificable]
    @inicio date,
    @fin date
AS
BEGIN
    INSERT INTO periodo_no_planificable (inicio, fin) VALUES (@inicio, @fin);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_persona]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_persona]
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @sexo CHAR(1),
    @carnet NVARCHAR(11),
    @tipo NVARCHAR(20)
AS
BEGIN
    INSERT INTO persona (nombre, apellido, sexo, carnet, tipo)
    VALUES (@nombre, @apellido, @sexo, @carnet, @tipo);
    
    RETURN;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_rol]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_rol]
    @nombre nvarchar(50)
AS
BEGIN
    INSERT INTO rol (nombre) VALUES (@nombre);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_tipo_persona]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_tipo_persona]
    @nombre nvarchar(20)
AS
BEGIN
    INSERT INTO tipo_persona (nombre) VALUES (@nombre);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_turno_de_guardia]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_turno_de_guardia]
    @persona_asignada bigint,
    @fecha date,
    @horario bigint
AS
BEGIN
    INSERT INTO turno_de_guardia (persona_asignada, fecha, horario)
    VALUES (@persona_asignada, @fecha, @horario);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_usuario]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_usuario]
    @nombre nvarchar(50),
    @contrasenna nvarchar(50),
    @rol nvarchar(50)
AS
BEGIN
    INSERT INTO usuario (nombre, contrasenna, rol)
    VALUES (@nombre, @contrasenna, @rol);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_configuracion]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_configuracion]
    @id BIGINT
AS
BEGIN
    UPDATE configuracion SET borrado = 1 WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_periodo_no_planificable]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_periodo_no_planificable]
    @inicio date,
    @fin date
AS
BEGIN
    DELETE FROM periodo_no_planificable WHERE inicio = @inicio AND fin = @fin;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_persona_by_ci]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_persona_by_ci]
    @carnet nvarchar(11)
AS
BEGIN
    DELETE FROM persona WHERE carnet = @carnet;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_persona_by_id]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_persona_by_id]
    @id nvarchar(11)
AS
BEGIN
    DELETE FROM persona WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_rol]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_rol]
    @nombre nvarchar(50)
AS
BEGIN
    DELETE FROM rol WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_tipo_persona]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_tipo_persona]
    @nombre nvarchar(20)
AS
BEGIN
    DELETE FROM tipo_persona WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_turno_de_guardia]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_turno_de_guardia]
    @persona_asignada bigint,
    @fecha date,
    @horario bigint
AS
BEGIN
    DELETE FROM turno_de_guardia
    WHERE persona_asignada = @persona_asignada
      AND fecha = @fecha
      AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_usuario]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_usuario]
    @nombre nvarchar(50),
    @contrasenna nvarchar(50)
AS
BEGIN
    DELETE FROM usuario WHERE nombre = @nombre AND contrasenna = @contrasenna;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_turnos_a_partir_de]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_get_turnos_a_partir_de]
    @fecha DATE
AS
BEGIN
SELECT TOP 31
        tg.fecha,
        tg.hecho,
        h.id AS horario_id,
        h.inicio, 
        h.fin,
        p.id AS persona_id,
        p.nombre, 
        p.apellido, 
        p.sexo, 
        p.carnet, 
        p.ultima_guardia_hecha, 
        p.guardias_de_recuperacion, 
        p.baja, 
        p.reincorporacion, 
        p.tipo, 
        p.borrado
    FROM turno_de_guardia tg
    JOIN persona p ON tg.persona_asignada = p.id
    JOIN horario h ON tg.horario = h.id
    WHERE 
        MONTH(tg.fecha) = MONTH(@fecha) AND YEAR(tg.fecha) = YEAR(@fecha) 
    ORDER BY tg.fecha, h.inicio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_periodos_no_planificables_in_date]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_periodos_no_planificables_in_date] 
@fecha DATE
AS
BEGIN
	SELECT * 
	FROM periodo_no_planificable 
	WHERE @fecha BETWEEN inicio AND fin
END
GO
/****** Object:  StoredProcedure [dbo].[sp_read_configuracion]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_configuracion]
AS
BEGIN
    SELECT * FROM configuracion;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_configuracion_by_pk]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_configuracion_by_pk]
    @esquema bigint,
    @horario bigint
AS
BEGIN
    SELECT * FROM configuracion
    WHERE esquema = @esquema AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_periodo_no_planificable]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_periodo_no_planificable]
AS
BEGIN
    SELECT * FROM periodo_no_planificable;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_periodo_no_planificable_by_pk]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_periodo_no_planificable_by_pk]
    @inicio date,
    @fin date
AS
BEGIN
    SELECT * FROM periodo_no_planificable WHERE inicio = @inicio AND fin = @fin;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona]
AS
BEGIN
    SELECT * FROM persona;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona_by_baja]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona_by_baja]
    @baja date
AS
BEGIN
    SELECT * FROM Persona
    WHERE baja = @baja;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona_by_ci]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona_by_ci]
    @carnet nvarchar(11)
AS
BEGIN
    SELECT * FROM persona WHERE carnet = @carnet;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona_by_tipo]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona_by_tipo]
    @tipo NVARCHAR(20)
AS
BEGIN
    SELECT * FROM persona
    WHERE tipo = @tipo;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_rol]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_rol]
AS
BEGIN
    SELECT * FROM rol;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_rol_by_nombre]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_rol_by_nombre]
    @nombre nvarchar(50)
AS
BEGIN
    SELECT * FROM rol WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_tipo_persona]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_tipo_persona]
AS
BEGIN
    SELECT * FROM tipo_persona;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_tipo_persona_by_nombre]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_tipo_persona_by_nombre]
    @nombre nvarchar(20)
AS
BEGIN
    SELECT * FROM tipo_persona WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_turno_de_guardia]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_turno_de_guardia]
AS
BEGIN
    SELECT 
       tg.fecha,
       tg.hecho,
       h.id AS horario_id,
       h.inicio, 
       h.fin,
       p.id AS persona_id,
       p.nombre, 
       p.apellido, 
       p.sexo, 
       p.carnet, 
       p.tipo,
       p.ultima_guardia_hecha, 
       p.guardias_de_recuperacion, 
       p.baja, 
       p.reincorporacion, 
       p.tipo, 
       p.borrado
    FROM turno_de_guardia tg
    JOIN persona p ON tg.persona_asignada = p.id
    JOIN horario h ON tg.horario = h.id
    ORDER BY tg.fecha, h.inicio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_read_turno_de_guardia_by_pk]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_turno_de_guardia_by_pk]
    @fecha date,
    @horario bigint
AS
BEGIN
    SELECT 
       tg.fecha,
       tg.hecho,
       h.id AS horario_id,
       h.inicio, 
       h.fin,
       p.id AS persona_id,
       p.nombre, 
       p.apellido, 
       p.sexo, 
       p.carnet, 
       p.tipo,
       p.ultima_guardia_hecha, 
       p.guardias_de_recuperacion, 
       p.baja, 
       p.reincorporacion, 
       p.tipo, 
       p.borrado
    FROM turno_de_guardia tg
    JOIN persona p ON tg.persona_asignada = p.id
    JOIN horario h ON tg.horario = h.id
    WHERE tg.fecha = @fecha AND tg.horario = @horario
    ORDER BY tg.fecha, h.inicio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_read_usuario]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_usuario]
AS
BEGIN
    SELECT * FROM usuario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_usuario_by_id]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_usuario_by_id]
    @id bigint
AS
BEGIN
    SELECT * FROM usuario WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_configuracion]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_configuracion]
    @id BIGINT,
    @dia_semana TINYINT,
    @dia_es_receso BIT,
    @horario BIGINT,
    @tipo_persona VARCHAR(50),
    @sexo CHAR(1),
    @cant_personas INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM configuracion WHERE id = @id)
    BEGIN
    -- seguro hay una mejor manera de manejar esto
        PRINT 'Error: El identificador de esta configuracion no se ha encontrado.';
        RETURN;
    END
    UPDATE configuracion
    SET dia_semana = COALESCE(@dia_semana, dia_semana),
        dia_es_receso = COALESCE(@dia_es_receso, dia_es_receso),
        horario =COALESCE(@horario, horario),
        tipo_persona = COALESCE(@tipo_persona, tipo_persona),
        sexo = COALESCE(@sexo, sexo),
        cant_personas = COALESCE(@cant_personas, cant_personas)
    WHERE id = @id;
    PRINT 'Configuracion actualizada con exito.'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_periodo_no_planificable]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_periodo_no_planificable]
    @inicio date,
    @fin date,
    @nuevo_inicio date,
    @nuevo_fin date
AS
BEGIN
    UPDATE periodo_no_planificable
    SET inicio = @nuevo_inicio,
        fin = @nuevo_fin
    WHERE inicio = @inicio AND fin = @fin;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_persona]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_persona]
    @id BIGINT,
    @nombre NVARCHAR(50) = NULL,
    @apellido NVARCHAR(50) = NULL,
    @sexo CHAR(1) = NULL,
    @carnet NVARCHAR(11) = NULL,
    @ultima_guardia_hecha DATE = NULL,
    @guardias_de_recuperacion INT = NULL,
    @baja DATE = NULL,
    @reincorporacion DATE = NULL,
    @tipo NVARCHAR(20) = NULL,
    @activo BIT = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM persona WHERE id = @id)
    BEGIN
    -- seguro hay una mejor manera de manejar esto
        PRINT 'Error: El identificador de esta persona no se ha encontrado.';
        RETURN;
    END
    -- si algo entra nulo no lo cambia
    UPDATE persona
    SET nombre = COALESCE(@nombre, nombre),
        apellido = COALESCE(@apellido, apellido),
        sexo = COALESCE(@sexo, sexo),
        carnet = COALESCE(@carnet, carnet),
        ultima_guardia_hecha = COALESCE(@ultima_guardia_hecha, ultima_guardia_hecha),
        guardias_de_recuperacion = COALESCE(@guardias_de_recuperacion, guardias_de_recuperacion),
        baja = COALESCE(@baja, baja),
        reincorporacion = COALESCE(@reincorporacion, reincorporacion),
        tipo = COALESCE(@tipo, tipo),
        activo = COALESCE(@activo, activo)
    WHERE id = @id;
    
    PRINT 'Persona actualizada.'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_rol]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_rol]
    @nombre nvarchar(50),
    @nuevo_nombre nvarchar(50)
AS
BEGIN
    UPDATE rol
    SET nombre = @nuevo_nombre
    WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_tipo_persona]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_tipo_persona]
    @nombre nvarchar(20),
    @nuevo_nombre nvarchar(20)
AS
BEGIN
    UPDATE tipo_persona
    SET nombre = @nuevo_nombre
    WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_turno_de_guardia]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_turno_de_guardia]
    @persona_asignada bigint,
    @fecha date,
    @horario bigint,
    @hecho bit
AS
BEGIN
    UPDATE turno_de_guardia
    SET hecho = @hecho
    WHERE persona_asignada = @persona_asignada
      AND fecha = @fecha
      AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_usuario]    Script Date: 29/05/2025 10:00:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_usuario]
    @nombre nvarchar(50),
    @contrasenna nvarchar(50),
    @nuevo_nombre nvarchar(50),
    @nuevo_contrasenna nvarchar(50),
    @rol nvarchar(50)
AS
BEGIN
    UPDATE usuario
    SET nombre = @nuevo_nombre,
        contrasenna = @nuevo_contrasenna,
        rol = @rol
    WHERE nombre = @nombre AND contrasenna = @contrasenna;
END

GO
