USE [master]
GO
/****** Object:  Database [Gestor_de_Guardias]    Script Date: 27/05/2025 12:39:31 a. m. ******/
CREATE DATABASE [Gestor_de_Guardias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestor_de_Guardias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gestor_de_Guardias.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestor_de_Guardias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gestor_de_Guardias_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestor_de_Guardias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestor_de_Guardias]
GO
/****** Object:  User [guardiasadm]    Script Date: 27/05/2025 12:39:32 a. m. ******/
CREATE USER [guardiasadm] FOR LOGIN [guardiasadm] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [guardiasadm]
GO
/****** Object:  Table [dbo].[configuracion]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuracion](
	[esquema] [bigint] NOT NULL,
	[horario] [bigint] NOT NULL,
	[actual] [bit] NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_configuracion_1] PRIMARY KEY CLUSTERED 
(
	[esquema] ASC,
	[horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[esquema]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[esquema](
	[dia_semana] [tinyint] NOT NULL,
	[dia_es_receso] [bit] NOT NULL,
	[tipo_persona] [nvarchar](20) NULL,
	[sexo] [nchar](1) NULL,
	[cant_personas] [tinyint] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_esquema_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horario](
	[inicio] [time](0) NOT NULL,
	[fin] [time](0) NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_horario_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodo_no_planificable]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodo_no_planificable](
	[inicio] [date] NOT NULL,
	[fin] [date] NOT NULL,
 CONSTRAINT [PK_periodo_no_planificable_1] PRIMARY KEY CLUSTERED 
(
	[inicio] ASC,
	[fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[carnet] [nvarchar](11) NOT NULL,
	[ultima_guardia_hecha] [date] NULL,
	[guardias_de_recuperacion] [int] NOT NULL,
	[baja] [date] NULL,
	[reincorporacion] [date] NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_persona](
	[nombre] [nvarchar](20) NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_tipo_persona] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turno_de_guardia]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turno_de_guardia](
	[persona_asignada] [bigint] NOT NULL,
	[hecho] [bit] NULL,
	[fecha] [date] NOT NULL,
	[horario] [bigint] NOT NULL,
 CONSTRAINT [PK_turno_de_guardia_1] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC,
	[horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[nombre] [nvarchar](50) NOT NULL,
	[contrasenna] [nvarchar](50) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_usuario_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_esquema]    Script Date: 27/05/2025 12:39:32 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_esquema] ON [dbo].[esquema]
(
	[dia_semana] ASC,
	[dia_es_receso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_horario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_horario] ON [dbo].[horario]
(
	[inicio] ASC,
	[fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_persona] ON [dbo].[persona]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_usuario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_usuario] ON [dbo].[usuario]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[configuracion] ADD  CONSTRAINT [DF_configuracion_actual]  DEFAULT ((1)) FOR [actual]
GO
ALTER TABLE [dbo].[configuracion] ADD  CONSTRAINT [DF_configuracion_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[esquema] ADD  CONSTRAINT [DF_esquema_cant_personas]  DEFAULT ((1)) FOR [cant_personas]
GO
ALTER TABLE [dbo].[esquema] ADD  CONSTRAINT [DF_esquema_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[horario] ADD  CONSTRAINT [DF_horario_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[persona] ADD  CONSTRAINT [DF_persona_ultima_guardia_hecha]  DEFAULT (NULL) FOR [ultima_guardia_hecha]
GO
ALTER TABLE [dbo].[persona] ADD  CONSTRAINT [DF_persona_guardias_de_recuperacion]  DEFAULT ((0)) FOR [guardias_de_recuperacion]
GO
ALTER TABLE [dbo].[persona] ADD  CONSTRAINT [DF_persona_baja]  DEFAULT (NULL) FOR [baja]
GO
ALTER TABLE [dbo].[persona] ADD  CONSTRAINT [DF_persona_reincorporacion]  DEFAULT (NULL) FOR [reincorporacion]
GO
ALTER TABLE [dbo].[persona] ADD  CONSTRAINT [DF_persona_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tipo_persona] ADD  CONSTRAINT [DF_tipo_persona_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[configuracion]  WITH CHECK ADD  CONSTRAINT [FK_configuracion_esquema1] FOREIGN KEY([esquema])
REFERENCES [dbo].[esquema] ([id])
GO
ALTER TABLE [dbo].[configuracion] CHECK CONSTRAINT [FK_configuracion_esquema1]
GO
ALTER TABLE [dbo].[configuracion]  WITH CHECK ADD  CONSTRAINT [FK_configuracion_horario1] FOREIGN KEY([horario])
REFERENCES [dbo].[horario] ([id])
GO
ALTER TABLE [dbo].[configuracion] CHECK CONSTRAINT [FK_configuracion_horario1]
GO
ALTER TABLE [dbo].[esquema]  WITH CHECK ADD  CONSTRAINT [FK_esquema_tipo_persona] FOREIGN KEY([tipo_persona])
REFERENCES [dbo].[tipo_persona] ([nombre])
GO
ALTER TABLE [dbo].[esquema] CHECK CONSTRAINT [FK_esquema_tipo_persona]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FK_persona_tipo_persona] FOREIGN KEY([tipo])
REFERENCES [dbo].[tipo_persona] ([nombre])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FK_persona_tipo_persona]
GO
ALTER TABLE [dbo].[turno_de_guardia]  WITH CHECK ADD  CONSTRAINT [FK_turno_de_guardia_horario1] FOREIGN KEY([horario])
REFERENCES [dbo].[horario] ([id])
GO
ALTER TABLE [dbo].[turno_de_guardia] CHECK CONSTRAINT [FK_turno_de_guardia_horario1]
GO
ALTER TABLE [dbo].[turno_de_guardia]  WITH CHECK ADD  CONSTRAINT [FK_turno_de_guardia_persona] FOREIGN KEY([persona_asignada])
REFERENCES [dbo].[persona] ([id])
GO
ALTER TABLE [dbo].[turno_de_guardia] CHECK CONSTRAINT [FK_turno_de_guardia_persona]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([rol])
REFERENCES [dbo].[rol] ([nombre])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_configuracion]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_configuracion]
    @esquema bigint,
    @horario bigint
AS
BEGIN
    INSERT INTO configuracion (esquema, horario)
    VALUES (@esquema, @horario);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_esquema]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_esquema]
    @dia_semana tinyint,
    @dia_es_receso bit,
    @tipo_persona nvarchar(20) = NULL,
    @sexo nchar(1) = NULL,
    @cant_personas tinyint
AS
BEGIN
    INSERT INTO esquema (dia_semana, dia_es_receso, tipo_persona, sexo, cant_personas)
    VALUES (@dia_semana, @dia_es_receso, @tipo_persona, @sexo, @cant_personas);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_periodo_no_planificable]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_periodo_no_planificable]
    @inicio date,
    @fin date
AS
BEGIN
    INSERT INTO periodo_no_planificable (inicio, fin) VALUES (@inicio, @fin);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_persona]
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @sexo CHAR(1),
    @carnet NVARCHAR(11),
    @tipo NVARCHAR(20)
AS
BEGIN
    INSERT INTO persona (nombre, apellido, sexo, carnet, tipo)
    VALUES (@nombre, @apellido, @sexo, @carnet, @tipo);
    
    RETURN;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_rol]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_rol]
    @nombre nvarchar(50)
AS
BEGIN
    INSERT INTO rol (nombre) VALUES (@nombre);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_tipo_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_tipo_persona]
    @nombre nvarchar(20)
AS
BEGIN
    INSERT INTO tipo_persona (nombre) VALUES (@nombre);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_turno_de_guardia]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_turno_de_guardia]
    @persona_asignada bigint,
    @fecha date,
    @horario bigint
AS
BEGIN
    INSERT INTO turno_de_guardia (persona_asignada, fecha, horario)
    VALUES (@persona_asignada, @fecha, @horario);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_create_usuario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_usuario]
    @nombre nvarchar(50),
    @contrasenna nvarchar(50),
    @rol nvarchar(50)
AS
BEGIN
    INSERT INTO usuario (nombre, contrasenna, rol)
    VALUES (@nombre, @contrasenna, @rol);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_configuracion]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_configuracion]
    @esquema bigint,
    @horario bigint
AS
BEGIN
    DELETE FROM configuracion
    WHERE esquema = @esquema AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_esquema]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_esquema]
    @id bigint
AS
BEGIN
    DELETE FROM esquema WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_periodo_no_planificable]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_periodo_no_planificable]
    @inicio date,
    @fin date
AS
BEGIN
    DELETE FROM periodo_no_planificable WHERE inicio = @inicio AND fin = @fin;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_persona_by_ci]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_persona_by_ci]
    @carnet nvarchar(11)
AS
BEGIN
    DELETE FROM persona WHERE carnet = @carnet;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_persona_by_id]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_persona_by_id]
    @id nvarchar(11)
AS
BEGIN
    DELETE FROM persona WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_rol]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_rol]
    @nombre nvarchar(50)
AS
BEGIN
    DELETE FROM rol WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_tipo_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_tipo_persona]
    @nombre nvarchar(20)
AS
BEGIN
    DELETE FROM tipo_persona WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_turno_de_guardia]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_turno_de_guardia]
    @persona_asignada bigint,
    @fecha date,
    @horario bigint
AS
BEGIN
    DELETE FROM turno_de_guardia
    WHERE persona_asignada = @persona_asignada
      AND fecha = @fecha
      AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_usuario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_usuario]
    @nombre nvarchar(50),
    @contrasenna nvarchar(50)
AS
BEGIN
    DELETE FROM usuario WHERE nombre = @nombre AND contrasenna = @contrasenna;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_configuracion]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_configuracion]
AS
BEGIN
    SELECT * FROM configuracion;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_configuracion_by_pk]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_configuracion_by_pk]
    @esquema bigint,
    @horario bigint
AS
BEGIN
    SELECT * FROM configuracion
    WHERE esquema = @esquema AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_esquema]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_esquema]
AS
BEGIN
    SELECT * FROM esquema;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_esquema_by_dia_semana_and_dia_receso]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_esquema_by_dia_semana_and_dia_receso]
    @dia_semana tinyint,
    @dia_es_receso bit
AS
BEGIN
    SELECT * FROM esquema
    WHERE dia_semana = @dia_semana AND dia_es_receso = @dia_es_receso
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_esquema_by_id]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_esquema_by_id]
    @id bigint
AS
BEGIN
    SELECT * FROM esquema WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_periodo_no_planificable]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_periodo_no_planificable]
AS
BEGIN
    SELECT * FROM periodo_no_planificable;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_periodo_no_planificable_by_pk]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_periodo_no_planificable_by_pk]
    @inicio date,
    @fin date
AS
BEGIN
    SELECT * FROM periodo_no_planificable WHERE inicio = @inicio AND fin = @fin;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona]
AS
BEGIN
    SELECT * FROM persona;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona_by_baja]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona_by_baja]
    @baja date
AS
BEGIN
    SELECT * FROM Persona
    WHERE baja = @baja;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona_by_ci]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona_by_ci]
    @carnet nvarchar(11)
AS
BEGIN
    SELECT * FROM persona WHERE carnet = @carnet;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_persona_by_tipo]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_persona_by_tipo]
    @tipo NVARCHAR(20)
AS
BEGIN
    SELECT * FROM persona
    WHERE tipo = @tipo;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_rol]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_rol]
AS
BEGIN
    SELECT * FROM rol;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_rol_by_nombre]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_rol_by_nombre]
    @nombre nvarchar(50)
AS
BEGIN
    SELECT * FROM rol WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_tipo_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_tipo_persona]
AS
BEGIN
    SELECT * FROM tipo_persona;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_tipo_persona_by_nombre]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_tipo_persona_by_nombre]
    @nombre nvarchar(20)
AS
BEGIN
    SELECT * FROM tipo_persona WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_turno_de_guardia]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_turno_de_guardia]
AS
BEGIN
    SELECT * FROM turno_de_guardia;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_turno_de_guardia_by_pk]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_turno_de_guardia_by_pk]
    @persona_asignada bigint,
    @fecha date,
    @horario bigint
AS
BEGIN
    SELECT * FROM turno_de_guardia
    WHERE persona_asignada = @persona_asignada
      AND fecha = @fecha
      AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_usuario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_usuario]
AS
BEGIN
    SELECT * FROM usuario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_read_usuario_by_id]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_read_usuario_by_id]
    @id bigint
AS
BEGIN
    SELECT * FROM usuario WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_configuracion]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_configuracion]
    @esquema bigint,
    @horario bigint,
    @actual bit
AS
BEGIN
    UPDATE configuracion
    SET actual = @actual
    WHERE esquema = @esquema AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_esquema]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_esquema]
    @id bigint,
    @dia_semana tinyint,
    @dia_es_receso bit,
    @tipo_persona nchar(1) = NULL,
    @sexo nchar(1) = NULL,
    @cant_personas tinyint
AS
BEGIN
    UPDATE esquema
    SET dia_semana = @dia_semana,
        dia_es_receso = @dia_es_receso,
        tipo_persona = @tipo_persona,
        sexo = @sexo,
        cant_personas = @cant_personas
    WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_periodo_no_planificable]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_periodo_no_planificable]
    @inicio date,
    @fin date,
    @nuevo_inicio date,
    @nuevo_fin date
AS
BEGIN
    UPDATE periodo_no_planificable
    SET inicio = @nuevo_inicio,
        fin = @nuevo_fin
    WHERE inicio = @inicio AND fin = @fin;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_persona]
    @id BIGINT,
    @nombre NVARCHAR(50) = NULL,
    @apellido NVARCHAR(50) = NULL,
    @sexo CHAR(1) = NULL,
    @carnet NVARCHAR(11) = NULL,
    @ultima_guardia_hecha DATE = NULL,
    @guardias_de_recuperacion INT = NULL,
    @baja DATE = NULL,
    @reincorporacion DATE = NULL,
    @tipo NVARCHAR(20) = NULL,
    @activo BIT = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM persona WHERE id = @id)
    BEGIN
    -- seguro hay una mejor manera de manejar esto
        PRINT 'Error: El identificador de esta persona no se ha encontrado.';
        RETURN;
    END
    -- si algo entra nulo no lo cambia
    UPDATE persona
    SET nombre = COALESCE(@nombre, nombre),
        apellido = COALESCE(@apellido, apellido),
        sexo = COALESCE(@sexo, sexo),
        carnet = COALESCE(@carnet, carnet),
        ultima_guardia_hecha = COALESCE(@ultima_guardia_hecha, ultima_guardia_hecha),
        guardias_de_recuperacion = COALESCE(@guardias_de_recuperacion, guardias_de_recuperacion),
        baja = COALESCE(@baja, baja),
        reincorporacion = COALESCE(@reincorporacion, reincorporacion),
        tipo = COALESCE(@tipo, tipo),
        activo = COALESCE(@activo, activo)
    WHERE id = @id;
    
    PRINT 'Persona actualizada.'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_rol]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_rol]
    @nombre nvarchar(50),
    @nuevo_nombre nvarchar(50)
AS
BEGIN
    UPDATE rol
    SET nombre = @nuevo_nombre
    WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_tipo_persona]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_tipo_persona]
    @nombre nvarchar(20),
    @nuevo_nombre nvarchar(20)
AS
BEGIN
    UPDATE tipo_persona
    SET nombre = @nuevo_nombre
    WHERE nombre = @nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_turno_de_guardia]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_turno_de_guardia]
    @persona_asignada bigint,
    @fecha date,
    @horario bigint,
    @hecho bit
AS
BEGIN
    UPDATE turno_de_guardia
    SET hecho = @hecho
    WHERE persona_asignada = @persona_asignada
      AND fecha = @fecha
      AND horario = @horario;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_update_usuario]    Script Date: 27/05/2025 12:39:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_usuario]
    @nombre nvarchar(50),
    @contrasenna nvarchar(50),
    @nuevo_nombre nvarchar(50),
    @nuevo_contrasenna nvarchar(50),
    @rol nvarchar(50)
AS
BEGIN
    UPDATE usuario
    SET nombre = @nuevo_nombre,
        contrasenna = @nuevo_contrasenna,
        rol = @rol
    WHERE nombre = @nombre AND contrasenna = @contrasenna;
END

GO
USE [master]
GO
